* {
    box-sizing: border-box;
}
body {
    margin: auto;
    width: auto;
}

header {
    background-color: #f3e9f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
   height: auto;
   width: auto;
   max-width: 300px;
}
.basket__icon {
    color: purple;
    font-size: 30px;
}
li {
    list-style : none;
}

main {
    width: 95%;
    margin: auto;
}

.products {
    margin: auto;
    margin-top: 50px;
}

.teddies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3e9f1;
    margin-top: 20px;
    padding-top: 10px;
    border: solid white;
    border-radius: 20px;
}

.teddies__img {
    border-radius: 10px;
    object-fit: cover;
    max-width: 95%;
}